{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <figure class="text-center mt-4">
        <blockquote class="blockquote">
            <p class="mb-0">WELCOME TO YOUR BACKOFFICE.</p>

        </blockquote>
        <figcaption class="blockquote-footer">
            Espace spécial <cite title="Source Title">Administrateur</cite>
        </figcaption>
    </figure>

{% endblock %}